.jumbotron {
    background-image: url("https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1554924869/shape/mentalfloss/29007-istock-642987348_0.jpg?itok=6C8dmEbJ");
    background-size: cover;
    color: black;
    font-size: large;
  }